<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>Contact Us</h2>
          <span>Products &amp; Ecommerce, Creative Web</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.0137489160466!2d105.85572197503032!3d20.992085980648064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac13d572ca03%3A0xecdbf6a04a71bcd6!2zQ8O0bmcgVHkgVG5oaCBHaeG6o2kgUGjDoXAgQ8O0bmcgTmdo4buHIEVsZWRldm8!5e0!3m2!1svi!2s!4v1729071793787!5m2!1svi!2s"
            width="100%"
            height="422px"
            frameborder="0"
            style="border: 30px"
            allowfullscreen
          ></iframe>

          <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-heading">
          <h2>Say Hello. Don't Be Shy!</h2>
          <span
            >Details to details is what makes Hexashop different from the other
            themes.</span
          >
        </div>
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input
                  name="name"
                  type="text"
                  id="name"
                  placeholder="Your name"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input
                  name="email"
                  type="text"
                  id="email"
                  placeholder="Your email"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea
                  name="message"
                  rows="6"
                  id="message"
                  placeholder="Your message"
                  required=""
                ></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ***** Contact Area Ends ***** -->

<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-heading">
          <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
          <span
            >Details to details is what makes Hexashop different from the other
            themes.</span
          >
        </div>
        <form id="subscribe" action="" method="get">
          <div class="row">
            <div class="col-lg-5">
              <fieldset>
                <input
                  name="name"
                  type="text"
                  id="name"
                  placeholder="Your Name"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-5">
              <fieldset>
                <input
                  name="email"
                  type="text"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="Your Email Address"
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-2">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button">
                  <i class="fa fa-paper-plane"></i>
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
            <ul>
              <li>
                Store Location:<br /><span
                  >Sunny Isles Beach, FL 33160, United States</span
                >
              </li>
              <li>Phone:<br /><span>010-020-0340</span></li>
              <li>Office Location:<br /><span>North Miami Beach</span></li>
            </ul>
          </div>
          <div class="col-6">
            <ul>
              <li>Work Hours:<br /><span>07:30 AM - 9:30 PM Daily</span></li>
              <li>Email:<br /><span>info.com</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-mid-head-footer></app-mid-head-footer>
